<!DOCTYPE html>
<html>
<head>
    <title>Utility Middleware</title>
</head>
<body>
    <p>Caesar: <%= caesar %></p>
    <p>Reverse: <%= reverse %></p>
    <p>Shorten: <%= shorten %></p>
</body>
</html>